.header {
    background-color: #f8f9fa; /* Color de fondo del header */
    padding: 10px 0;
}

.header h2 {
    font-size: 32px; /* Tamaño del nombre "Aventones" */
    font-weight: bold; /* Letra más gruesa */
    margin-bottom: 0; /* Eliminar margen inferior */
}

.header a {
    font-size: 18px; /* Tamaño de los enlaces Home, Rides, Booking */
    font-weight: bold; /* Letra más gruesa */
    text-decoration: none !important; /* Eliminar subrayado */
    color: #343a40; /* Color de texto por defecto */
    margin-right: 20px; /* Espaciado entre enlaces */
}

.header a:hover {
    color: #343a40; /* Color de texto al pasar el mouse */
}

.active-link {
    background-color: #007bff; /* Color de fondo del enlace activo */
    color: #fff !important; /* Color de texto del enlace activo */
    padding: 5px 10px; /* Espaciado interno del enlace activo */
    border-radius: 5px; /* Bordes redondeados */
}

.header .navigation {
    display: flex;
    align-items: center;
}

.header .user-icon {
    font-size: 35px; /* Tamaño del icono de usuario */
    color: #343a40; /* Color del icono de usuario */
    margin-top: 20px;
}