<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Users</h1>
        <div id="users" class="mb-4"></div>
    </div>

    
    <div class="container mt-5">
        <h2>Sign In</h2>
        <form id="addUsersForm" class="mb-4">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="Enter your first name" required>
            </div>
            <div class="form-group">
                <label for="Lastname">Last Name</label>
                <input type="text" id="Lastname" class="form-control" placeholder="Enter your last name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
                <label for="repeatpassword">Repeat the Password</label>
                <input type="password" id="repeatpassword" class="form-control" placeholder="Enter your password again" required>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" class="form-control" placeholder="Enter your address" required>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" id="country" class="form-control" placeholder="Enter your country" required>
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" id="state" class="form-control" placeholder="Enter your state" required>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" class="form-control" placeholder="Enter your city" required>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="number" id="phoneNumber" class="form-control" placeholder="Enter your phone number" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
        <div id="error-message" class="alert alert-danger d-none" role="alert">
            Passwords do not match. Please try again.
        </div>
    </div> 

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function fetchUsers() {
            axios.get('http://localhost:3000/api/user/')
                .then(function (response) {
                    const users = response.data;
                    const lista = document.getElementById('users');
                    lista.innerHTML = '';
                    users.forEach(user => {
                        const item = document.createElement('div');
                        item.className = 'alert alert-secondary';
                        item.textContent = `First Name: ${user.firstName} - Last Name: ${user.Lastname}`;
                        lista.appendChild(item);
                    });
                })
                .catch(function (error) {
                    console.log('Error fetching users:', error);
                });
        }

        document.getElementById('addUsersForm').addEventListener('submit', function(e){
            e.preventDefault();
            const firstName = document.getElementById('firstName').value;
            const Lastname = document.getElementById('Lastname').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const repeatpassword = document.getElementById('repeatpassword').value;
            const address = document.getElementById('address').value;
            const country = document.getElementById('country').value;
            const state = document.getElementById('state').value;
            const city = document.getElementById('city').value;
            const phoneNumber = document.getElementById('phoneNumber').value;

            const errorMessage = document.getElementById('error-message');

            if (password !== repeatpassword) {
                console.log("no registrado");
                errorMessage.classList.remove('d-none');
                return;
            } else {
                errorMessage.classList.add('d-none');
            }

            axios.post('http://localhost:3000/api/user/', { firstName, Lastname, email, password, address, country, state, city, phoneNumber})
                .then(function (response){
                    // Limpiar campos del formulario
                    document.getElementById('addUsersForm').reset();
                    // Redirigir a la página de login
                    window.location.href = 'Login.html';
                })
                .catch(function (error){
                    console.log('Error adding user:', error);
                });

        document.getElementById('updateUsersForm').addEventListener('submit', function(e){
            e.preventDefault();
            const firstName = document.getElementById('firstName').value;
            const Lastname = document.getElementById('Lastname').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const address = document.getElementById('address').value;
            const country = document.getElementById('country').value;
            const state = document.getElementById('state').value;
            const city = document.getElementById('city').value;
            const phoneNumber = document.getElementById('phoneNumber').value;


            axios.update('http://localhost:3000/api/user/', { firstName, Lastname, email, password, address, country, state, city, phoneNumber}) //Validar si el usuario podría cambiar la contraseña
                .then(function (response){
                    // Limpiar campos del formulario
                    document.getElementById('updateUsersForm').reset();
                    // Redirigir a la página de login
                    window.location.href = 'Login.html';
                })
                .catch(function (error){
                    console.log('Error adding user:', error);
                });


    

        });




        window.onload = function() {
            fetchUsers();
        };
    </script>
</body>
</html>
